.container {
   height: 100vh;
   background-color: gray;
   position: relative;

   &__user-profile {
      position: absolute;
      width: 700px;
      border: 5px solid honeydew;
      height: 300px;
      background-color: dimgray;
      display: flex;
      flex-direction: row;
      margin-top: 20%;
      margin-left: 80px;
   }

   &__user-info {
      padding: 10px;
      label {
         color: lightgrey;
         font-size: 2rem;
         font-weight: bold;
         margin-bottom: 20px;
      }

      h3 {
         margin-bottom: 0px;
      }

   }

}
.loader{
   //padding-top: 50px;
   padding-left: 250px;
}
