.main-container {
   background-color: gray;
   padding: 0px;
   margin: 0px;

   .navbar {
      display: grid;
      justify-content: center;
      background-color:dimgray;
      height: 100vh;
      padding-top: 20px;

      li {
         font-size: x-large;
      }

      a {
         color: honeydew;
      }
   }
}

.padding {
   padding: 0px;
}