<div class="main-container row">
   <div class="col-lg-4 col-sm-12 padding">
      <nav class="navbar">
         <ul class="navbar-nav list-items">
            <li class="nav-item ">
               <a class="nav-link" routerLink="user-list">User List</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="user-profile">Profile</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="setting">Setting</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Log Out</a>
            </li>
         </ul>
      </nav>
   </div>
   <div class=" padding col-lg-8 col-sm-12">
      <router-outlet></router-outlet>
   </div>
</div>