.main-container {
   background-color: gray;
   height: 100vh;
   &__sub-container {
      display: grid;
      justify-content: center;
   }
}
.warning-icon {
   margin-top: 10%;
   font-size: 350px;
}