.main-container {
  // justify-content: center;
   background-color: gray;
   height: 100vh;
}

.warning-icon {
   font-size: 500px;
   display: grid;
   justify-content: center;
}

h1 {
   margin-left: 300px;
}