<div class="container">
   <ng-container *ngIf="!isApiFailed; else showErrorTemplate">
      <ng-container *ngIf="!isLoader; else showLoader">
         <h2>{{labels.userListHeading}}</h2>
         <app-table [tableHeadings]="tableHeading" [tableData]="userList"></app-table>
      </ng-container>
      <ng-template #showLoader>
         <app-loader></app-loader>
      </ng-template>
   </ng-container>
   <ng-template #showErrorTemplate>
      <div class="errorMsg">
         <app-load-error [errorMsg]="isLoader ? errorMsg: 'No record found'"></app-load-error>
      </div>
   </ng-template>
</div>