<!-- <div class = "main">
<div class="container d-flex justify-content-center flex-column">
   <div class="main-content">
     <div class = "main-content__heading"> Login </div>
      <input type="text">
      <input type="password">
      <button type="button" class="btn btn-primary" (click) = "onLoggedIn()">Let me in</button>
   </div>
</div>
</div> -->
<div class="main-container">
   <div class="container">
      <div class="container__content">
      <h1>User Login</h1>
      <div>
         <h4> User id</h4>
         <input type="text" class="form-control input-lg">
      </div>
      <div>
         <h4>Password</h4>
         <input type="password" class="form-control input-lg">
      </div>
      <div>
         <button type="button" class="btn btn-lg btn-block" (click)="onLoggedIn()">Let me in</button>
      </div>
   </div>
   </div>
</div>